$padding-horizontal-mobile: 100px;
$padding-horizontal-sm: 150px;
$padding-horizontal-md: 200px;
$padding-horizontal: 250px;
$dark: #333333;
$dark-grey: #BDBDBD;
$grey: #e4e4e4;
$black: #000;
$light-grey: #F2F2F2;
$blue: #282b57;
$red: #F8475F;
$red-dark: rgb(168, 39, 39);
$darkest-grey: #7A7A7A;