@import "../../styles/breakpoints";
@import "../../styles/variaveis";

.header {
  height: 80px;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  &__logo {
    flex: 2;

    img {
      width: 170px;
    }
  }

  &__search--desktop {
    flex: 4;
    margin-right: 44px;
  }

  &__account {
    flex: 1;

    a {
      color: $darkest-grey;
    }

    svg {
      vertical-align: sub;
      margin-right: 6px;
    }
  }

  @media (min-width: $mobile) {
    &__menu--mobile,
    &__search--mobile {
      display: none !important;
    }
  }

  @media (max-width: $mobile) {
    padding: 7px 0;

    &__search--desktop,
    &__account {
      display: none;
    }
    
    .container {
      height: unset;
    } 

    &__menu--mobile,
    &__logo {
      flex: unset;
    }

    &__menu--mobile {
      margin-top: 8px;
    }

    &__logo {
      img {
        width: 109px;
      }
    }

    &__search--mobile {
      margin-top: 8px !important;
    }
  }
}