@import url("https://use.typekit.net/eyy4lrv.css");
@import "react-alice-carousel/lib/scss/alice-carousel.scss";

* {
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
}

p {
  font-size: 14px;
  line-height: 1.1rem;
}

a {
  color: black;
  text-decoration: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}